{% extends "base.html.twig" %}

{% block title %}Modification du profile utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Email</h2>
		<div>
			{{app.user.email}}
		</div>
		<h2>username</h2>
		<div>
			{{app.user.username}}
		</div>
		<h2>Photo de profil</h2>
		<img src="/uploads/{{app.user.image}}" alt="avatar de {{app.user.email}}">
		<a class="btn btn-warning" href="{{path('account_modifimg')}}">Modification de la pp</a>

		<a class="btn btn-warning" href="{{path('account_password')}}">Modification de mot de passe</a>

		<a class="btn btn-warning" href="{{path('account_mail')}}">Modification de l'email</a>

		{% if app.user.worker | length > 0 %}
			{% include "worker/show.html.twig" with {worker:app.user.worker} %}
		{% else %}
			<div class="alert alert-warning">
				<p>
					<strong>{{app.user.username}}</strong>
					n'a pas de worker
				</p>
			</div>
		{% endif %}
		{% if app.user.company | length > 0 %}

			{% for company in app.user.company %}
				{% include "company/show.html.twig" %}
			{% endfor %}
		{% else %}
			<div class="alert alert-warning">
				<p>
					<strong>{{app.user.username}}</strong>
					n'a pas de company
				</p>
			</div>
		{% endif %}


	</div>
{% endblock %}
