{% extends 'base.html.twig' %}

{% block title %}Nos Worker
{% endblock %}

{% block body %}
	{# {% include 'partials/companySearchbar.html.twig' with { 'searchForm': searchForm } %} #}

	{# {% if results is not empty %}
		<h2>Résultats de la recherche :</h2>
		<div class="container">
			<div class="row">
				{% for result in results %}
					<div class="col-md-4">
						<div class="card bg-light mb-3">
							<div class="card-header text-center">
								<a href="{{ path('companies_show', {'Slug': result.slug}) }}">
									{{ result.name }}
								</a>
							</div>
							<div class="card-body">
								<div class="card-text">
									{% for sector in company.sector %}
										<p>{{sector.name}}</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %} #}
		<div class="container">
			<div class="row">
				{% for company in companies %}
					{% if company.visibility == '1' %}
						<div class="col-md-4">
							<div class="card bg-light mb-3">
								<div class="card-header text-center">
									<a href="{{ path('companies_show', {'Slug': company.slug}) }}">
										{{ company.name }}
									</a>
								</div>
								<div class="card-body">
									<div class="card-text">
										{% for sector in company.sector %}
											<p>{{sector.name}}</p>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{# {% endif %} #}
{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}Nos Worker
{% endblock %}

{% block body %}
	{% include 'partials/companySearchbar.html.twig' with { 'searchForm': searchForm } %}

	{% if results is not null %}
		<h2>Résultats de la recherche :</h2>
		<div class="container">
			<div class="row">
				{% for result in results %}
					<div class="col-md-4">
						<div class="card bg-light mb-3">
							<div class="card-header text-center">
								<a href="{{ path('companies_show', {'Slug': result.slug}) }}">
									{{ result.name }}
									{{ result.eMail }}
									{% for sector in company.sector %}
										<p>{{sector.name}}</p>
									{% endfor %}
								</a>
							</div>
							<div class="card-body">
								<div class="card-text"></div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}

		<div class="container">
			<div class="row">
				{% for company in companies %}
					{% if company.visibility == '1' %}
						<div class="col-md-4">
							<div class="card bg-light mb-3">
								<div class="card-header text-center">
									<a href="{{ path('companies_show', {'Slug': company.slug}) }}">
										{{ company.name }}
										{{ company.eMail }}
										{% for sector in company.sector %}
										<p>{{sector.name}}</p>
										{% endfor %}
									</a>
								</div>
								<div class="card-body">
									<div class="card-text"></div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %} #}
