{% block title %} Company {% endblock %}

{% block body %}
        <h1>{{company.name}}</h1>
        <p>{{company.email}}</p>
        <p>{{company.description}}</p>
		<img src="/uploads/{{company.cover}}" alt="cover de {{company.name}}">
{% endblock %}